body{
    background-color: #151617;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}   

header{
    color: #fff;
    text-align: center;
    margin: 3rem 0;
    font-size: 4rem;
}

.cal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1d1f21;
    width: 27rem;
    height: 46rem;
    border-radius: 30px;
}

#textarea2, #textarea {
    padding: 0.6rem 1.5rem;
    width: 24rem;
    height: 84.391px;
    border: none;
    background-color: #151617;;
    color: #fff;
    text-align: end;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
  }

#textarea2 {
    border-radius: 15px 15px 0 0;
}

#textarea{
    border-radius: 0 0 15px 15px;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(5, 3fr);
    width: 24rem;
    height: 480px;
    margin: 0.6rem 3rem 0.6rem 3rem;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
}

button{
    width: 5.4rem;
    height: 5.4rem;
    background-color: #151617;;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

button:hover{
    background-color: #393E46;
    color: #fff;
}

#result:hover,
#del:hover,
#clear:hover {
    background-color: #344FA1;
}


@media screen and (max-width: 800px) {
    body {
        transform: scale(0.9);
    }
  }